body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 100px;
}

.logo {
    width: 150px;
}

.logo_link {
    padding: 0;
}

.menu_list {
    display: flex;
    justify-content: flex-start;
}

.menu_item {
    list-style: none;
    margin-right: 20px;
}

a {
    padding: 20px;
    text-decoration: none;
    color: #fdb827;
    transition: color 0.3s ease;
    font-family: 'Bodoni Moda', serif;
    font-size: 25px;
    font-weight: 900;
}

a:hover {
    color: white;
}

a.active {
    color: white;
}

.content {
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-size: 25px;
    font-weight: 600;
    padding: 0 100px;
}