.contact_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.contact_text {
    display: flex;
}

.contact_adress {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact_mail {
    padding: 0;
}

#contact_map {
    width: 100%;
    height: 450px;
}

.contact_text + #contact_map {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .contact_wrapper {
        flex-direction: row;
    }

    #contact_map {
        width: 600px;
        height: 450px;
        padding: 70px;
        margin: 70px;
    }

    .contact_text + #contact_map {
        margin-top: 0;
    }
}