.footer {
    color: white;
    padding: 20px 20px;
    background-color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_wrapper + .footer_wrapper {
    margin-top: 100px;
}

.footer_box + .footer_box {
    margin-top: 20px;
}

.footer_title {
    font-size: 20px;
    color: darkgray;
}

.footer_list {
    margin: 0;
    padding: 0;
}

.footer_list--inline {
    display: flex;
}

.footer_list--inline .footer_list-item + .footer_list-item {
    margin-left: 10px;
}

.footer .footer_list-item {
    color: white;
    list-style: none;
}

.footer_list-item + .footer_list-item {
    margin-top: 10px;
}

.footer_list--inline .footer_list-item {
    margin-top: 0;
}

.footer .footer_list-item,
.footer .footer_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
}

.footer_copyright {
    font-size: 15px;
}

.footer_icon {
    font-size: 35px;
}

@media (min-width: 768px) {
    .footer {
        padding: 50px 50px;
    }

    .footer_wrapper {
        flex-direction: row;
    }

    .footer_box + .footer_box {
        margin-top: 0;
    }

    .footer_list--inline {
        justify-content: space-between;
    }
    
    .footer_list--inline .footer_list-item + .footer_list-item {
        margin-left: 0;
    }
}

@media (min-width: 1024px) {
    .footer_title {
        font-size: 24px;
    }

    .footer .footer_list-item,
    .footer .footer_link {
        font-size: 18px;
    }
}