.text-image {
    display: flex;
    flex-direction: row;
}

.text-image_img {
    height: 55%;
    width: 55%;
}

.text-image_text {
    margin: 0;
}

.text-image_img + .text-image_text {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.text-image--reverse {
    flex-direction: row-reverse;
}

.text-video {
    display: flex;
    flex-direction: row;
}

.text-video_text {
    margin-left: 20px;
}

.text-image_img--rotate {
    transform: rotate(10deg)
}

.text-image_img + .text-image_text {
    margin-left: 30px;
}
